.UserList {
  flex: 4px;
}
.userListUser {
  display: flex;
  align-items: center;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.userEdit {
  border: none;
  border-radius: 10%;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.user_delete {
  color: red;
  cursor: pointer;
}
